# Rhino backups
*.3dm.rhl
*.3dmbak
*.3dm.bak
*.bak

# Rhino autosave files
Autosave*.3dm

# Grasshopper temporary and autosave files
*.gh.autosave
*.ghx.autosave
*.ghbackup
*.ghx

# ignore working file
working/

# mac and win stuff
.DS_Store
Thumbs.db

# VScode stuff
.vscode

# log fiels
*.log